body {
    text-align: center;
}

body:after {
    background-image: url('./images/night_sky.jpg');
    background-position: center;
    content: "";
    position: fixed; /* stretch a fixed position to the whole screen */
    top: 0;
    height: 100vh; /* fix for mobile browser address bar appearing disappearing */
    left: 0;
    right: 0;
    z-index: -1; /* needed to keep in the background */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul {
    list-style: none;
}

button {
    margin: .5rem;
    padding: .5rem 1rem;
    border-radius: .4rem;
    border: 1px solid black;
    transition-duration: .4s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(190, 190, 190);
}

input, textarea {
    padding: .5rem;
    margin: .5rem;
    border: 1px solid black;
    border-radius: .4rem;
    width: 50%;
}

span {
    font-weight: bold;
}

.container {
    clip-path: polygon(0 0, 50% 2.8%, 100% 0, 100% 96.75%, 50% 99.8%, 0 96.75%);
    background-color: rgb(255, 255, 255, .85);
}

.chevron {
    height: 10rem;
    clip-path: polygon(0 0, 50% 75%, 100% 0, 100% 100%, 0 100%);
}

.chevron2 {
    height: 10rem;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 50% 95%, 0 20%);
}

.chevron-overlay {
    height: 10rem;
    background-color: rgb(0, 0, 0, .85);
    clip-path: polygon(0 5%, 50% 75%, 100% 5%, 100% 20%, 50% 90%, 0 20%);
}

.chevron-overlay2 {
    height: 10rem;
    background-color: rgb(0, 0, 0, .85);
    clip-path: polygon(0 0, 50% 75%, 100% 0, 100% 15%, 50% 90%, 0 15%);
}

.mini-chevron {
    margin: auto;
    width: 3rem;
    height: 1rem;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(0 0, 50% 75%, 100% 0, 100% 15%, 50% 90%, 0 15%);
    animation: chevron-wave 1s infinite;
    animation-direction: alternate;
}

.mini-link {
    width: 3rem;
    display: table-footer-group;
}

.mini-link:hover {
    cursor: pointer;
}

.mini-chevron:nth-child(1) {
    animation-delay: 0.1s;
}

.mini-chevron:nth-child(2) {
    animation-delay: 0.2s;
}

.mini-chevron:nth-child(3) {
    animation-delay: 0.3s;
}

.header {
    margin: 12rem 0 10rem;
    color: white;
    font-size: 16px;
}

.about {
    margin: 1rem;
}

.about img {
    margin: 10px;
    width: 50px;
}

.filter-container {
    margin: 1rem 1rem;
}

.filter-item img {
    width: 4rem;
    height: 4rem;
    margin: 1.2rem;
}

.alternate-sections {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 1rem;
    overflow-x: hidden;
    margin: 1rem 2rem 1rem;
}

.alternate-sections .text-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.alternate-sections .img-link {
    width: 100%;
}
.alternate-sections .project-link {
    margin: 1rem;
    width: 100%;
}

.project-tech {
    font-style: italic;
}

.project-github {
    width: 2rem;
}

.contact-error {
    color: red;
}

.footer-container {
    margin: 2rem;
    color: white;
}

.footer-container a {
    margin: 1rem;
    color: white;
}

.footer-container img {
    width: 2rem;
}

/* Media Queries */
@media (min-width: 576px) {
    body {
        text-align: center;
    }
    
    body:after {
        background-image: url('./images/night_sky.jpg');
        background-position: center;
        content: "";
        position: fixed; /* stretch a fixed position to the whole screen */
        top: 0;
        height: 100vh; /* fix for mobile browser address bar appearing disappearing */
        left: 0;
        right: 0;
        z-index: -1; /* needed to keep in the background */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .container {
        clip-path: polygon(0 0, 50% 3%, 100% 0, 100% 96.75%, 50% 99.9%, 0 96.75%);
        background-color: rgb(255, 255, 255, .85);
    }

    .header {
        margin: 22rem 0 15rem;
        color: white;
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    body {
        text-align: center;
    }
    
    body:after {
        background-image: url('./images/night_sky.jpg');
        background-position: center;
        content: "";
        position: fixed; /* stretch a fixed position to the whole screen */
        top: 0;
        height: 100vh; /* fix for mobile browser address bar appearing disappearing */
        left: 0;
        right: 0;
        z-index: -1; /* needed to keep in the background */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .container {
        clip-path: polygon(0 0, 50% 2.85%, 100% 0, 100% 96.75%, 50% 99.85%, 0 96.75%);
        background-color: rgb(255, 255, 255, .85);
    }

    .header {
        margin: 25rem 0 15rem;
        color: white;
        font-size: 24px;
    }

    .filter-container {
        margin: 1rem 3.5rem;
    }
}

@media (min-width: 992px) {
    body {
        background-image: url('./images/night_sky.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
        text-align: center;
    }

    .container {
        clip-path: polygon(0 0, 50% 3.25%, 100% 0, 100% 96.5%, 50% 100%, 0 96.5%);
        background-color: rgb(255, 255, 255, .85);
    }

    .header {
        margin: 40rem 0 25rem;
        color: white;
        font-size: 28px;
    }

    .alternate-sections {
        column-gap: 2rem;
    }

    .alternate-sections .img-link {
        width: 100%;
    }

    .alternate-sections .project-link {
        width: 100%;
    }

    .alternate-sections .text {
        padding: 3rem;
        margin: 3rem;
        width: 100%;
    }

    .alternate-sections .text-img {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .alternate-sections .text-img:nth-child(odd) {
        flex-direction: row-reverse;
    }
}

@media (min-width: 1200px) and (min-height: 975px) {
    body {
        background-image: url('./images/night_sky.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
        text-align: center;
    }

    .container {
        clip-path: polygon(0 0, 50% 3.5%, 100% 0, 100% 96.25%, 50% 100%, 0 96.25%);
        background-color: rgb(255, 255, 255, .85);
    }

    .header {
        margin: 20rem 0 15rem;
        color: white;
        font-size: 30px;
    }

    .about {
        max-width: 70rem;
        margin: 0 auto;
    }

    .filter-container {
        margin: 1rem auto;
    }
}

@media (min-width: 1200px) and (min-height: 1095px) {
    body {
        background-image: url('./images/night_sky.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
        text-align: center;
    }

    .header {
        margin: 23rem 0 20rem;
        color: white;
        font-size: 30px;
    }
}

@keyframes chevron-wave {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
}