:root {
    --primary: #919636;
    --secondary: #524A3A;
    --tertiary: #FFFAE1;
    --quaternary: #5A5F37;
}

body {
    padding-top: 4rem;
    background-color: #353535;
    color: lightgray;
    font-family: 'IM Fell English SC', serif;
}

h2 {
    border-bottom: 3px solid black;
    font-size: 30px;
}

h3 {
    margin: .5rem 1rem;
}

span {
    font-weight: bold;
}

/* ------------------------------------------------------------------------ */
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    padding: 1rem 0;
    background-color: var(--quaternary);
    color: lightgray;
    align-items: center;
    z-index: 9999;
    box-shadow: 10px 10px 10px black;
}

h1 {
    font-size: 34px;
    margin: .5rem 5rem;
}

.links a {
    padding: 2rem;
    margin: 0 2rem;
    border: none;
    border-bottom: 2px solid transparent;
}

.links a:hover {
    border-color: lightgray;
    cursor: pointer;
    opacity: .7;
}

/* ------------------------------------------------------------------------ */
.about {
    padding: 5rem 5rem 0;
}

.about-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.about-me {
    display: flex;
    text-align: center;
    margin-top: 3rem;
}

.about-description {
    margin: 5rem;
    font-size: 24px;
}

.resume {
    margin: 1rem;
}

.resume img {
    width: 5vw;
}

.resume button {
    border: 1px solid black;
    border-radius: .5rem;
    box-shadow: 5px 5px 5px black;
    font-family: 'IM Fell English SC', serif;
}

.resume button:hover {
    cursor: pointer;
    opacity: .75;
}

/* ------------------------------------------------------------------------ */
.projects {
    padding: 5rem 5rem 0;
}

.projects-content {
    display: flex;
    margin-top: 3rem;
}

.project-link {
    position: relative;
    margin: 1rem;
}

.project-info {
    position: absolute;
    display: flex;
    top: 70%;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--quaternary);
    visibility: hidden;
    color: black;
}

.project-info p {
    margin: .5rem 1rem 0;
}

.project-github {
    margin: .5rem 1rem;
}

.project-link:hover .project-info {
    visibility: visible;
    opacity: .9;
}

.img-link {
    width: 100%;
}

/* ------------------------------------------------------------------------ */
.skills {
    padding: 5rem 5rem 0;
    font-size: 20px;
}

.skill-list {
    margin-top: 3rem;
}

.skill-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-cards img {
    width: 65%;
}

.skill-cards button {
    border: 1px solid black;
    border-radius: .5rem;
    box-shadow: 5px 5px 5px black;
    font-family: 'IM Fell English SC', serif;
    background-color: lightgray;
    width: 7vw;
    height: 16vh;
    margin: 1rem 1rem;
}

.skill-cards button:hover {
    cursor: pointer;
    opacity: .75;
}

/* ------------------------------------------------------------------------ */
.contact {
    padding: 5rem;
}

form {
    background-color: var(--quaternary);
    text-align: center;
    padding: 3rem 0;
    margin-top: 3rem;
    width: 50%;
    border-radius: .5rem;
    box-shadow: 10px 10px 10px black;
}

.contact-form {
    display: flex;
    justify-content: center;
}

.contact-form h3 {
    margin: 0 0 2rem;
}

input {
    width: 60%;
    height: 1.5rem;
    border-radius: .5rem;
    background-color: lightgray;
    border: none;
    font-family: 'IM Fell English SC', serif;
}

textarea {
    margin: 1rem 0 0;
    width: 60%;
    font-family: 'IM Fell English SC', serif;
    border-radius: .5rem;
    
    background-color: lightgray;
}

.contact-btn button {
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: 5px 5px 5px black;
    font-family: 'IM Fell English SC', serif;
    background-color: lightgray;
}

.contact-btn button:hover {
    cursor: pointer;
}

/* ------------------------------------------------------------------------ */
.footer {
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer img {
    width: 2vw;
    margin: 1rem;
}

/* ------------------------------------------------------------------------ */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) and (min-height: 975px) {
}

@media (min-width: 1200px) and (min-height: 1095px) {
}